@{
    ViewData["Title"] = "Home Page";
}

<header class="mb-3 m-md-none">
    <button class="hamburger-menu rounded" id="hamburger-menu">
        <h4 class="bi bi-list m-0"></h4>
    </button>
    <div class="sidebar-shadow" id="sidebar-shadow"></div>
    <ul class="sidebar-container" id="sidebar">
        <li>1</li>
        <li>1</li>
        <li>1</li>
    </ul>
</header>
<main>
    <form>
        <div class="w-100 d-flex flex-column mb-2">
            <label>label</label>
            <textarea name="textarea" class="p-2" rows="5"></textarea>
        </div>
        <button class="btn btn-info" type="submit">submit</button>
    </form>
</main>
